[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
bind-address=0.0.0.0
# https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html
sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,STRICT_ALL_TABLES
explicit_defaults_for_timestamp=1
default-authentication-plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
character-set-client-handshake=FALSE
slow_query_log=1
long_query_time=2
log_output=TABLE
